# Здесь будут зависимости для Вашего проекта
appdirs==1.4.4
attrs==21.2.0
backports.entry-points-selectable==1.1.0
black==21.7b0
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
future==0.18.2
jsonschema==3.2.0
mando==0.6.4
mypy-extensions==0.4.3
packaging==21.0
pathspec==0.9.0
platformdirs==2.2.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
radon==5.1.0
regex==2021.8.3
six==1.16.0
toml==0.10.2
tomli==1.2.1
tox==3.24.1
typing==3.7.4.3
virtualenv==20.7.0
